<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Virtual Tourist, Phil!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA5F6E3C1CF63B08007A66CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5F6E531CF63B09007A66CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5F6E5E1CF63B09007A66CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
